### all ignore ###
/*
/.**

### but cache following files ###
!/.gitignore
!/.bashrc
!/.bash_profile
!/.bash_logout
!/.zshrc
!/.profile
!/.Renviron
!/.vimrc
!/.gitconfig
!/.config/
!/.config/**
!/.R/
!/.R/**
!/install.py
!/.zprofile
!/.win/
!/.win/**
