### all ignore ###
/*
/.**

### but cache following files ###
!/.gitignore
!/.bashrc
!/.bash_profile
!/.zshrc
!/.profile
!/.vimrc
!/.gitconfig
!/.config/
!/.config/**
!/install.sh
!/install.ps1
!/README.md
!/.win/
!/.win/**
